{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Skystore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'skystore/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'skystore/css/site.css' %}">
</head>
<body>

<header>
    {% include 'catalog/menu.html' %}
</header>

<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
    <div>
        SkyStore &copy; 2023
    </div>
    <div>
        <a class="text-muted" href="/contacts/">Контакты</a>
    </div>
</footer>

<script src="{% static 'skystore/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'skystore/js/site.js' %}"></script>
</body>
</html>



